$lightblue: #C7F7FF;
$medblue: #89C0C9;
$darkblue: #3a5E63;
$lightbrown: #C9A689;
$darkbrown: #7C593C;
$lightgrey: #d4d4d4;
$darkgrey: #222;
$whitelol: #fff;
$font1: Josefin Sans;
$font2: Trebuchet MS;
$font3: Helvetica;
$font4: sans-serif;
$font5: Cardo;
$font6: Palatino Linotype;
$font7: Book Antiqua;
$font8: Palatino;
$font9: serif;
$smallbp: 700px;
$mediumbp: 900px;
$largebp: 1400px;